.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--background-white);
    border-bottom: 1px solid #F2F2F2;
    position: sticky;
    top: 0;
    z-index: 100;
}

.location {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.1rem;
    gap: 0.5rem;
    color: var(--text-black);
}

.refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-black);
}